<!DOCTYPE html>
<html lang=en-us>
<head>
	<title>Bacteria</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

<style type="text/css">
   body { background: lightgray !important; }
</style>
<font face="Times New Roman">

<div class="container-fluid">
	<div class="container" style="background-color: white">
		<div class = "row" style="text-align: center">
			<h1>Cell Data!!</h1>
			<!--<img style="width: 60%" src="https://orig00.deviantart.net/157a/f/2017/232/d/9/_3d__cells_are_multiplying_by_cbunnyhop-dbkq92t.gif">-->
		</div>
		<div class="row">
			<script type="text/javascript">
				
			</script>
		</div>
	</div>
</div>

</body>
</html>